{% load static %}
{% load array %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'web/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/modal.css' %}">

    <script src="{% static 'web/js/functions.js' %}"></script>
    <title>Главная</title>
</head>
<body>
    <div id="banner">
        <span id="proj_name">Оборудование</span>
    </div>

    <div id="content">
        <span id="info">Список отделов</span>

        <table border>
            <thead>
                <th>ID</th>
                <th>Название</th>
            </thead>
            <tbody>
                {% for i in table_contents %}
                    <tr id="{{ i.1.id }}">
                        <td>{{ i.id }}</td>
                        <td>{{ i.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
    
            <tr>
                <td colspan="{{ fields.keys|len_array|add:1 }}" id="add_field" onclick="show_add()">
                    <div id="add">
                        <span id="add_sign">+</span>
                        <span id="add_text">Добавить</span>
                    </div>
                </td>
            </tr>
        </table>

        {% include "modal.html" %}
    </div>
</body>
</html>



<script>
    var date = new Date();
    const urlParams = new URLSearchParams(window.location.search);
    var is_editing = false;
    
    document.getElementById("info").innerHTML += " на " + 
                        date.getDate() + " " + 
                        months[date.getMonth()] + " " + 
                        date.getFullYear() + " г. " +
                        "(" + String(date.getHours()).padStart(2, "0") + ":" + String(date.getMinutes()).padStart(2, "0") + ")"

    var modal_add = document.getElementById("add_modal")
    var add_form = document.getElementById("add_modal_table")
    var add_form_btn = document.getElementById("add_modal_btn")

    var fields = [{% for id, value in fields.items %}"{{ id }}", {% endfor %}];

    function add() {
        add_form_btn.disabled = true;

        elems = get_add_form_elems()
        values = get_form_values(elems)

        console.log(values)

        resp = send_add_hpart_form_data(values)
        
        resp.then((data) => {
            if(data.ok) {
                hide_add();
                location.reload()
            } else {
                for(i of elems) {
                    i.style.backgroundColor = "white"
                }
                document.getElementById(data.message).style.backgroundColor = "red"
            }
        })

        add_form_btn.disabled = false;
    }
</script>