{% load static %}
{% load array %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'web/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/modal.css' %}">
    <title>Главная</title>
</head>
<body>
    <div id="banner">
        <span id="proj_name">Оборудование</span>
    </div>

    <div id="content">
        <span id="info">Список устройств</span>
        
        <div id="pages_container">
            <div id="pages" style="margin-top: 10px; font-size: 16px">
                <button onclick="delta_page(-1)" id="prev_page">Предыдущая</button>
                Страница
                <input id="page_num_input" value="{{ page|add:1 }}" style="width: 4em"></input>
                из
                <span id="page_count">{{ page_count|add:1 }}</span>
                <button onclick="switch_page()">Перейти</button>
                <button onclick="delta_page(1)" id="next_page">Следующая</button>
                
                <br style="margin-bottom: 10px">
                Записей в странице: <input id="records_in_page" value="{{ pagesize }}" style="width: 4em"></input>
            </div>
            
            <button id="print_version" onclick="open_printable_ver()">Версия для печати</button>
        </div>

        <table border>
            <thead>
                <th>N</th>
                <th>Инвертарный номер</th>
                <th>Тип устройства</th>
                <th>Производитель</th>
                <th>Модель</th>
                <th>Серийный номер</th>
                <th>Статус</th>
                <th>Действие</th>
            </thead>
            <tbody>
                {% for i in table_contents %}
                    <tr id="{{ i.1.inv_num }}" title="{{ i.1.description }}">
                        <td>{{ i.0 }}</td>
                        <td>{{ i.1.inv_num }}</td>
                        <td>{{ i.1.type }}</td>
                        <td>{{ i.1.vendor }}</td>
                        <td>{{ i.1.model }}</td>
                        <td>{{ i.1.serial }}</td>
                        <td>{{ i.1.status }}</td>
                        <td>
                            <button class="button" id="edit_btn" onclick="edit_mode('{{ i.1.inv_num }}')">Изменить</button>
                            <button class="button" id="delete_btn" onclick="delete_hw('{{ i.1.inv_num }}')">Удалить</button>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="{{ fields.keys|len_array|add:1 }}" id="add_field" onclick="show_add()">
                        <div id="add">
                            <span id="add_sign">+</span>
                            <span id="add_text">Добавить новое устройство</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        {% include "modal.html" %}
    </div>
</body>
</html>

<script src="{% static 'web/js/functions.js' %}"></script>
<script>
    var date = new Date();
    const urlParams = new URLSearchParams(window.location.search);

    var page_count = Number(document.getElementById("page_count").innerHTML);

    document.getElementById("info").innerHTML += " на " + 
                        date.getDate() + " " + 
                        months[date.getMonth()] + " " + 
                        date.getFullYear() + " г. " +
                        "(" + String(date.getHours()).padStart(2, "0") + ":" + String(date.getMinutes()).padStart(2, "0") + ")"

    // Modal window control for adding
    var is_editing = false;
    var edit_num = 0;
    var edit_orig_datas = null;

    function edit_mode(num) {
        num = Number(num)
        is_editing = true;
        edit_num = num;

        edit_elem = document.getElementById(String(num))
        
        cols = Array.from(edit_elem.childNodes).filter(a => a.tagName == "TD")
        cols = cols.slice(1, cols.length - 1)  // Needed columns (ID and actions are not)

        datas = cols.map(a => a.childNodes[0].data)  // Get values from a row's colums
        
        datas.push(edit_elem.getAttribute("title"))  // Add description

        edit_orig_datas = datas
        
        show_add()

        form_elems = get_add_form_elems()

        for(i in form_elems) {
            form_elems[i].value = datas[i]
        }
    }

    // Work with add form

    var fields = [{% for id, value in fields.items %}"{{ id }}", {% endfor %}];
    
    function add() {
        add_form_btn.disabled = true;

        elems = get_add_form_elems()
        values = get_form_values(elems)

        if(!is_editing) {
            resp = send_add_form_data(values)
            
            resp.then((data) => {
                if(data.ok) {
                    hide_add();
                    location.reload()
                } else {
                    for(i of elems) {
                        i.style.backgroundColor = "white"
                    }
                    document.getElementById(data.message).style.backgroundColor = "red"
                }
            })
        } else {
            resp = send_edit_form_data(arrays_to_object(fields, edit_orig_datas), values)
            
            resp.then((data) => {
                console.log(data)
                if(data.ok) {
                    hide_add();
                    location.reload()
                } else {
                    for(i of elems) {
                        i.style.backgroundColor = "white"
                    }
                    document.getElementById(data.message).style.backgroundColor = "red"
                }
            })
        }
        
        add_form_btn.disabled = false;
    }

    window.onload = () => {
        var supported = [];

        for(var i of add_form.childNodes.entries()) {
            if(i[1].tagName == "TR") {
                supported.push(i[1])
            }
        }

        for(var i of supported) {
            i.childNodes[3].childNodes[1].value = ""
        }

        if(Number(urlParams.get('p')) == 0) {
            document.getElementById("prev_page").disabled = true;
        } else if(Number(urlParams.get('p')) + 1 >= page_count) {
            document.getElementById("next_page").disabled = true;
        }
    }
</script>